<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

        body {
            align-items: center;
            background: url('https://static.vecteezy.com/system/resources/previews/029/771/813/large_2x/epicgraphy-shot-of-rainy-season-background-enjoying-nature-rainfall-and-happy-life-concept-generative-ai-free-photo.jpeg');
            text-align: center;
            user-select: none;
        }

        .city {
            align-items: center;
            justify-content: center;
            display:flex;
            flex-direction: column;
            padding: 40px 8%;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.8);
        }

        .city-name {
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

    </style>
</head>

<body>
    <div class="city">
        <h2 class="city-name">
            <span>Welcome to Temp Track</span>
        </h2>
    </div>

</body>

</html>
