@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background: url('https://images.lawpath.com.au/2019/07/stencil.new-blog-image-33.jpg');
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 20px auto;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
    }

    h2 {
        color: #3498db;
    }

    strong {
        color: #2c3e50;
    }

    p {
        margin-bottom: 15px;
    }
</style>
<div class="container">

<p>
        Temp Track respects your privacy and takes care to protect your personal information. In our application, we may collect and use certain information that may be necessary to ensure a good user experience and provide our services. These may include:
    </p>

    <p>
        <strong>Use of Information:</strong>
        The information we collect is used to enhance the user experience, personalize our services, and ensure effective functionality of the application. We do not distribute, disclose, or sell your personal information to third parties without your consent, unless required by law.
    </p>

    <p>
        <strong>Protection of Information:</strong>
        We take necessary measures to ensure and protect your information from losses, misuse, unauthorized access, modifications, or unlawful disclosures.
    </p>

    <p>
        <strong>Changes to Privacy Policy:</strong>
        This text contains a general description of our privacy policy and may undergo changes over time. Any changes to this policy will be posted on our website.
    </p>

    <p>
        <strong>Contact:</strong>
        For any questions or concerns regarding this policy, please contact us at: Email-
                                                                                              <p><a href="mailto:lk61186@ubt-uni.net">lk61186@ubt-uni.net</a></p>
                                                                                              <p><a href="mailto:sj61243@ubt-uni.net">sj61243@ubt-uni.net</a></p>
                                                                                              <p><a href="mailto:bd58352@ubt-uni.net">bd58352@ubt-uni.net</a><p>
    </p>
</div>