@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f8f8;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 20px auto;
        background-color: #fff;
        border-radius: 5px;
    }

    h2 {
        color: #3498db;
    }

    strong {
        color: #2c3e50;
    }

    p {
        margin-bottom: 15px;
    }
</style>
<div class="container">

<p>
        TempTrackApp respekton privatësinë tuaj dhe kujdeset për të mbrojtur informacionin tuaj personal. Në aplikacionin tonë, ne mund të mbledhim dhe përdorim disa informacione të caktuara që mund të jenë të nevojshme për të siguruar një përvojë të mirë të përdoruesit dhe për të ofruar shërbimet tona. Këto mund të përfshijnë:
    </p>

    <p>
        <strong>Përdorimi i informacionit:</strong>
        Informacioni që mbledhim përdoret për të përmirësuar përvojën e përdoruesit, për të personalizuar shërbimet tona, dhe për të siguruar një funksionim të efektshëm të aplikacionit. Ne nuk shpërndajmë, nuk jepim, ose nuk shesim informacionin tuaj personal te palë të treta pa miratimin tuaj përveç nëse kërkohet nga ligji.
    </p>

    <p>
        <strong>Mbrojtja e informacionit:</strong>
        Ne ndërmarrim masat e nevojshme për të siguruar dhe mbrojtur informacionin tuaj nga humbjet, keqpërdorimet, akseset e paautorizuara, modifikimet, ose shpërndarjet e paligjshme.
    </p>

    <p>
        <strong>Ndryshimet në Privacy Policy:</strong>
        Ky tekst përmban një përshkrim të përgjithshëm të politikës së privatësisë tonë dhe mund të pësojë ndryshime me kalimin e kohës. Çdo ndryshim në këtë politikë do të publikohet në faqen tonë të internetit.
    </p>

    <p>
        <strong>Kontakt:</strong>
        Për çdo pyetje ose shqetësim rreth kësaj politike, ju lutemi na kontaktoni në: Email- <p><a href="mailto:lk61186@ubt-uni.net">lk61186@ubt-uni.net</a></p>
                                                                                              <p><a href="mailto:sj61243@ubt-uni.net">sj61243@ubt-uni.net</a></p>
                                                                                              <p><a href="mailto:bd58352@ubt-uni.net">bd58352@ubt-uni.net</a><p>
    </p>
</div>